@import url("owfont-regular.css");
@font-face {
	font-family: "Arial-MT";
	src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
	min-width: 480px;
	min-height: 100vh;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	transition: background-image 1s ease-in-out;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 30vh;
	min-height: 220px;
	padding: 20px;
}

.lang,
.path-images {
	margin-top: 10px;
}

.lang__ru,
.lang__eng {
	cursor: pointer;
}

.lang__active,
.path-image_active {
	color: #c5b358;
}

.audio-player {
	text-align: left;
}

.player-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 120px;
}

.advanced-player {
	display: flex;
	gap: 30px;
}

.player-timeline-and-volume {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.controls {
	margin-bottom: 28px;
}

.current-song {
	text-align: center;
}

.volume-button {
	width: 32px;
	height: 32px;
	background-size: 24px 24px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
}

.volume-container {
	display: flex;
	align-items: center;
}

.duration {
	background: linear-gradient(
		to right,
		#c5b358 0%,
		#c5b358 50%,
		#c4c4c4 50%,
		#c4c4c4 100%
	);
	-webkit-appearance: none;
	appearance: none;
	height: 4px;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.volume-duration {
	width: 80px;
}

.player-duration {
	width: 200px;
	background: linear-gradient(
		to right,
		#c5b358 0%,
		#c5b358 0%,
		#c4c4c4 0%,
		#c4c4c4 100%
	);
}

.duration::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.volume-button_on {
	background-image: url("../assets/svg/volume.svg");
}
.volume-button_off {
	background-image: url("../assets/svg/mute.svg");
}

.play-list {
	display: inline-flex;
	flex-direction: column;
	text-align: left;
}
.play-list li {
	display: inline;
}

.play-item {
	position: relative;
	padding: 5px;
	padding-left: 20px;
	list-style: none;
	opacity: 0.8;
	cursor: pointer;
	transition: 0.3s;
}

.play-item:hover {
	opacity: 1;
}

.play-item::before {
	content: "\2713";
	position: absolute;
	left: 0;
	top: 2px;
	font-weight: 900;
}

.item-active {
	color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	outline: 0;
	opacity: 0.8;
	cursor: pointer;
	transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
	opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings__button:active {
	border: 0;
	outline: 0;
	transform: scale(1.1);
}

.play {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	background-image: url("../assets/svg/play.svg");
}

.pause {
	background-image: url("../assets/svg/pause.svg");
}

.play-prev {
	background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
	background-image: url("../assets/svg/play-next.svg");
}

.weather {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	row-gap: 5px;
	width: 180px;
	min-height: 180px;
	text-align: left;
}

.weather-error {
	margin-top: -10px;
}

.description-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 12px;
}

.weather-icon {
	font-size: 44px;
}

.city {
	width: 170px;
	height: 34px;
	padding: 5px;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #fff;
	background-color: transparent;
}

.city::placeholder {
	font-size: 20px;
	color: #fff;
	opacity: 0.6;
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40vh;
	min-height: 260px;
	padding: 20px;
}

.slider-icon {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	cursor: pointer;
}

.slide-prev {
	left: 20px;
	background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
	right: 20px;
	background-image: url("../assets/svg/slider-next.svg");
}

.time {
	opacity: 1;
	min-height: 124px;
	margin-bottom: 10px;
	font-family: "Arial-MT";
	font-size: 100px;
	letter-spacing: -4px;
}

.time,
.date,
.greeting-container,
.quote-container,
.weather,
.audio-player,
.todo-list {
	animation: show-animation;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}

.date {
	min-height: 28px;
	font-size: 24px;
	margin-bottom: 20px;
}

.greeting-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: center;
	min-height: 48px;
	width: calc(100vw - 20px);
	font-size: 40px;
}

.greeting {
	flex: 1;
	padding: 10px;
	text-align: right;
}

.name {
	flex: 1;
	max-width: 50%;
	padding: 10px;
	font-size: 40px;
	text-align: left;
	color: #fff;
	background-color: transparent;
	border: 0;
	outline: 0;
}

.name::placeholder {
	color: #fff;
	opacity: 0.3;
}

.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 30vh;
	min-height: 160px;
	padding: 20px;
}

.todo-list {
	margin-top: 50px;
	position: absolute;
	z-index: 1;
	top: 30vh;
	right: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 20vw;
}

#start-message {
	margin: 10px 0;
	text-align: left;
}

.task-list {
	width: 100%;
	height: 200px;
	overflow-y: auto;
	padding: 0 5px;
}

.task {
	display: flex;
	align-items: center;
	border: 1px solid gray;
	padding: 3px 8px;
	margin: 10px 0px;
}

.task p {
	margin-left: 4px;
}

.completed {
	background-color: green;
	color: white;
}

.completed p {
	text-decoration: line-through;
}

.input-panel {
	display: flex;
	gap: 10px;
	margin: 8px;
	padding: 2px;
}

#task-name-input {
	border: none;
	color: #fff;
	border-bottom: solid 1px #fff;
	background-color: transparent;
	font-size: 20px;
	width: 100%;
	padding-left: 5px;
}

#task-name-input:focus {
	outline-style: none;
	box-shadow: none;
}

.remove-button {
	margin-left: auto;
	border: none;
	background-color: transparent;
	width: 24px;
	height: 24px;
}
.remove-button:after {
	content: "\00d7";
	color: #fff;
	font-size: 24px;
}

.change-quote {
	margin-bottom: 30px;
	background-image: url("../assets/svg/reload.svg");
}

.quote {
	min-height: 32px;
}

.author {
	min-height: 20px;
}

.settings {
	position: absolute;
	text-align: left;
	left: 20px;
	width: 50%;
}

.settings__title {
	margin-bottom: 30px;
}

.settings__panel {
	position: relative;
	z-index: 100;
	background-color: #000;
	max-width: 500px;
	width: 100%;
	height: 0px;
	margin-bottom: 25px;
	overflow-y: auto;
}

.settings__panel_hide {
	animation: fade_in_hide 0.5s;
}

@keyframes fade_in_hide {
	from {
		opacity: 1;
		height: 350px;
		transform-origin: bottom;
	}
	
	to {
		opacity: 0;
		height: 0px;
		transform-origin: bottom;
	}
}

.settings__panel_show {
	height: 350px;
	animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
	from {
		opacity: 0;
		height: 0px;
		transform-origin: bottom;
	}

	to {
		opacity: 1;
		height: 350px;
		transform-origin: bottom;
	}
}

.settings__panel::-webkit-scrollbar,
.task-list::-webkit-scrollbar {
	width: 8px;
}
.settings__panel::-webkit-scrollbar-track,
.task-list::-webkit-scrollbar-track {
	border-radius: 20px;
	background-color: transparent;
}
.settings__panel::-webkit-scrollbar-thumb,
.task-list::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
}

.settings__panel-container {
	padding: 20px;
}

.settings__block:not(:last-child) {
	margin-bottom: 30px;
}

.settings__block-title {
	font-size: 16px;
}

.settings__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 20px;
}

.settings__item::after {
	position: absolute;
	top: -10px;
	left: 0;
	content: "";
	background-color: rgba(255, 255, 255, 0.5);
	height: 1px;
	width: 100%;
}

.settings__item-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

.settings__item-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.settings__item-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 24px;
	background-color: rgb(165, 165, 165);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.settings__item-slider:before {
	position: absolute;
	content: "";
	border-radius: 50%;
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .settings__item-slider {
	background-color: #c4a718;
}

input:focus + .settings__item-slider {
	box-shadow: 0 0 1px #c4a718;
}

input:checked + .settings__item-slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

.settings__button {
	background-image: url("../assets/svg/settings.svg");
	width: 32px;
	height: 32px;
	opacity: 0.8;
	transition: 0.3s;
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
}
.settings__button:hover {
	opacity: 1;
}
.settings__button_animate {
	animation-name: rotate;
	animation-duration: 0.35s;
	animation-timing-function: linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}

.hide {
	opacity: 0;
	animation: hide-animation;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}
@keyframes show-animation {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@keyframes hide-animation {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@media (max-width: 1000px) {
	.audio-player, 
	.settings__item-title__audio, 
	.todo-list, 
	.settings__item-title__todo {
		display: none;
	}
}

@media (max-width: 768px) {
	.time {
		min-height: 80px;
		font-size: 72px;
	}

	.greeting-container {
		min-height: 40px;
		font-size: 32px;
	}

	.greeting {
		padding: 5px;
	}

	.name {
		font-size: 32px;
		padding: 5px;
	}
}
